form {
    margin: 30px auto;
    width: 90% !important;
  }

  form h2 {
    margin: 20px 0px 30px 0px;
  }

  form input,
  label {
    margin: 5px 0px;
  }
  .container {
    width: 90% !important;
  }
  .info {
    display: flex;
  }
  .error-message {
    color: #ff0000; /* Red color for error text */
    font-size: 14px;
    margin-top: 5px;
  }