{% extends 'layout.html' %}

{% block title %} - {{data['city']}}, {{data['country']}}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Weather Information
                </div>
                <div class="card-body">
                    <h2>City: {{data['city']}}</h2>
                    <p>Temperature: {{data['temperature']}}°C</p>
                    <p>Humidity: {{data['humidity']}}%</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
